@use "./../util/colors.scss" as *;

// modile navbar

@media screen and (max-width: 768px) {
  .navbar-container {
    .menu_icons {
      // makes the hamburger menu visible on mobile
      display: block;
      // hamburger position
      position: fixed;
      top: 1rem;
      right: 1rem;
      // hamburger size
      font-size: 28px;

      z-index: 1;
      transition: 1.5s;
      * {
        padding: 0.5rem;
      }
      .close {
        // transition: background 1s;
        background: $blue;
        // make icon into a circle
        border-radius: 50%;
        color: $white;
      }
    }

    .show {
      transition: 1s;
      transform: translateX(0);
    }

    .hide {
      transition: 1s;
      transform: translateX(-100%);
    }

    ul {
      width: 65vw;
      height: 100vh;
      border-right: 1px solid #e6e9ec;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;

      li {
        list-style: none;
        width: 90%;
        display: flex;

        .wrapper {
          text-decoration: none;
          display: flex;
          background: #f2f3f5;
          border-radius: 1rem;
          padding: 1rem;
          width: 100%;
          align-items: center;
          justify-content: flex-start;

          margin: 0.5rem 0;

          .icon {
            font-size: 20px;
            color: $black;
          }
          .name {
            margin: 0 0 0 0.5em;
            font-size: 20px;
            color: $black;
          }
        }
      }
    }
  }
}

//desktop navbar

@media screen and (min-width: 768px) {
  .menu_icons {
    display: none;
  }

  .hide {
    display: none;
  }

  .desktop {
    display: flex;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    height: 100vh;
    overflow-y: hidden;
    min-width: fit-content;
    width: 15vw;
    z-index: 1;

    li {
      min-width: fit-content;
      width: 20px;
      margin: 0.5rem 0;
      margin-left: 1rem;

      a {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        min-width: fit-content;
        height: 2rem;
        width: 2rem;
        border-radius: 2rem;
        padding: 0.5rem;
        background: $white;
        text-decoration: none;

        .icon {
          font-size: 20px;
          color: $black;
        }
        .name {
          font-size: 20px;
          color: $white;
          line-height: 2rem;
        }
      }
    }
  }

  .wrapper {
    transition: background 0.5s;
    transition: width 600ms;
    .name {
      display: none;
      // opacity: 0;
      transition: opacity 1s;
    }

    &:hover {
      transition: 600ms;
      min-width: fit-content;
      width: 7rem;
      height: 2rem;
      display: flex;
      align-items: center;
      align-content: center;
      flex-direction: row;
      background: $blue;
      .name {
        // transition: 1s;
        // opacity: 1;
        display: block;
      }
      .icon {
        color: $white;
      }
    }
  }
}
