@use "./../util/colors.scss" as *;

// mobile
@media screen and (max-width: 768px) {
  .container {
    #about,
    #resume,
    #projects,
    #contact {
      margin: 2rem 0.5rem;

      border-radius: 1.5rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

      height: 20rem;
    }

    #home {
      // add animate to each section
      img {
        // make the image cover the entire screen
        width: 100vw;
        height: 100vh;
        background: cover;
        opacity: 0.6;
      }

      .text-wrapper {
        // center the text in the middle of the screen
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        color: $black;
      }
    }

    .section-conatiner {
      // background: $smoke-white;

      .title-container {
        .text-wrapper {
          text-align: center;
          width: 100%;
          color: $action;
        }

        .underline {
          height: 0.25rem;
          background: $underline;
          width: 25%;

          // center the underline
          margin: 0.2rem auto 0 auto;

          &::before {
            content: "";
            display: block;
            width: 10%;
            height: 0.25rem;
            background: $smoke-white;
            position: absolute;

            left: 30%;
            // z-index: -1;
          }
          &::after {
            content: "";
            display: block;
            width: 10%;
            height: 0.25rem;
            background: $smoke-white;
            position: absolute;

            left: 60%;
          }
        }
      }
    }

    #about {
      // filler
      height: 20rem;
    }
  }
}
