@use "./../util/colors.scss" as *;


// mobile
@media screen and (max-width: 768px) {
  .container {
    
    .section-wrapper {
      // add animate to each section
      img {
        // make the image cover the entire screen
        width: 100vw;
        height: 100vh;
        background: cover;
        // opacity: .8;

      }
    }
  }
}
